<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="1">
    <test name="Run Gherkin">
        <classes>
            <class name="nganxd.runner.TestRunnerLoginCMS" />
            <class name="nganxd.runner.TestRunnerLoginCRM" />
        </classes>
    </test>
</suite>